<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-title> FAQ </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" placeholder="Search for product"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-accordion-group expand="inset" value="first">
    <ion-accordion value="first">
      <ion-item slot="header" color="white">
        <ion-label>Where can I get access to Capital IQ?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil helvetica, craf.</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="white">
        <ion-label>How do I get access to case studies?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil helvetica, craf.</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="white">
        <ion-label>How much should I capitalize?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil helvetica, craf.</div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
