<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-title> Contact Us </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <div>
    <capacitor-google-map #map></capacitor-google-map>
    <button >Create Map</button>
  </div>
<ion-list class="ion-padding">

  <ion-input aria-label="Primary input" color="primary" label="Full Name" labelPlacement="stacked" placeholder="Enter Full Name"></ion-input>

  <ion-input aria-label="Primary input" color="primary" label="Phone Number" labelPlacement="stacked" placeholder="Enter Phone Number"></ion-input>

  <ion-input aria-label="Primary input" color="primary" label="Email Address" labelPlacement="stacked" placeholder="Enter Email Address"></ion-input>

    <ion-input aria-label="Primary input" color="primary" label="Message" labelPlacement="stacked" placeholder="Enter Message"></ion-input>

  <ion-button class="ion-padding-vertical" size="small" expand="block">SEND MESSAGE</ion-button>
</ion-list>

</ion-content>
