<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/Cart" routerDirection="root">
        <ion-icon aria-hidden="true" slot="start" size="large" name="cart-outline"></ion-icon>
        <ion-badge slot="end" class="badge-top" *ngIf="cartService.getTotalOrderItemsCount()">{{ cartService.getTotalOrderItemsCount()}}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>Wish List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-grid>
    <ion-card *ngFor="let item of wishListItems">
      <app-single-card [item]="item"></app-single-card>
    </ion-card>
  </ion-grid>
</ion-content>
