<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Single Product</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <swiper-container [pagination]="true">
    <swiper-slide> <img src="assets/images/single_product_1.jpg" alt="single product img"> </swiper-slide>
    <swiper-slide> <img src="assets/images/single_product_2.jpg" alt="single product img"> </swiper-slide>
    <swiper-slide> <img src="assets/images/single_product_3.jpg" alt="single product img"> </swiper-slide>
  </swiper-container>
  <ion-row class="ion-padding" *ngIf="product">
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngIf="product.title"> {{ product.title }} </ion-card-title>
        <ion-label>
          <ion-icon size="small" name="checkmark-circle-outline"></ion-icon> <strong>Available in</strong> - 500 gm</ion-label>
        <ion-note>
          <ion-label class="discount-price"> &#8377; {{product.discountedPrice}}
            <span class="product-price"> &#8377; {{product.price}} </span>
            <ion-badge color="success" slot="end"> {{product.discount}}% OFF</ion-badge>
          </ion-label>

        </ion-note>
      </ion-card-header>
      <ion-card-content>

        <div class="space-between">
          <ion-note color="success"> <ion-icon name="star-outline"></ion-icon> {{product.rating}} </ion-note>
          <div class="space-between">
            <ion-icon size="large" name="remove-circle-sharp" color="medium"></ion-icon>
            <ion-label class="ion-padding-horizontal">1</ion-label>
            <ion-icon size="large" name="add-circle-sharp" color="primary"></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-card-title>Quick Overview</ion-card-title>
        <ion-note slot="end">
          <ion-label> Availability :
            <ion-badge color="success" slot="start">In Stock</ion-badge>
          </ion-label>
        </ion-note>
      </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.

        Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hiMenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum.
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>
