<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/Profile">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <h1 *ngIf="itemsList.length===0"> No product added </h1>
  <ion-list lines="none" class="card" *ngIf="itemsList.length > 0">
    <ion-item>
      <ion-label> M.R.P </ion-label>
      <ion-label class="ion-text-end">&#8377;233,00 </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Products Discount </ion-label>
      <ion-label color="success" class="ion-text-end"> -40 </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">
        <ion-icon slot="start" size="small" name="cash-outline"></ion-icon>
        Club Member Savings </ion-label>
      <ion-label class="ion-text-end"> Not a member </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Delivery Charges <ion-icon slot="end" color="danger" size="small" name="help-circle-outline"></ion-icon></ion-label>
      <ion-label color="danger" class="ion-text-end"> +&#8377;90,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <strong>Sub Totle</strong> </ion-label>
      <ion-label class="ion-text-end"> <strong>+&#8377;433,00</strong> </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="card ion-margin-top" lines="full" *ngIf="itemsList.length > 0">
      <app-single-card [item]="item" *ngFor="let item of itemsList"></app-single-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" routerLink="/Checkout" routerDirection="root" [class.disabled]="cartService.getTotalQty() === 0">
    <ion-buttons slot="start" color="light" >
      <ion-button size="large">
        <ion-label class="space-between"><ion-icon slot="start" size="large" name="cart-outline"></ion-icon> <span>Proceed to Checkout</span> </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" color="light">
      <ion-button size="large">
        <ion-label class="space-between"><span> <strong>&#8377;{{cartService.getTotalQty()}} </strong></span> <ion-icon slot="end" size="medium" name="arrow-forward-outline"></ion-icon> </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<!-- <table>
  <tbody>
    <tr>
      <th>M.R.P </th>
      <td>&#8377;233,00</td>
    </tr>
    <tr>
      <th> Products Discount  </th>
      <td> -40</td>
    </tr>
    <tr>
      <th>
        <ion-icon color="secondary" size="small" name="cash-outline"></ion-icon> <span>Club Member Savings</span> </th>
      <td> Not a member</td>
    </tr>
    <tr>
      <th> Delivery Charges <ion-icon color="danger" size="small" name="help-circle-outline"></ion-icon></th>
      <td> +&#8377;90,00</td>
    </tr>
    <tr>
      <th> Sub Title </th>
      <th> +&#8377;433,00</th>
    </tr>
  </tbody>
</table> -->
