<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/Profile">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <h1 *ngIf="itemsList.length===0"> No product added </h1>
  <ion-list lines="none" class="card" *ngIf="itemsList.length > 0">
    <ion-item>
      <ion-label> M.R.P </ion-label>
      <ion-label class="ion-text-end">&#8377;{{cartService.getTotalQty()}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Products Discount </ion-label>
      <ion-label color="success" class="ion-text-end"> &#8722;{{cartService.cart.discount }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">
        <ion-icon slot="start" size="small" name="cash-outline"></ion-icon>
        Club Member Savings </ion-label>
      <ion-label class="ion-text-end"> Not a member </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Delivery Charges <ion-icon slot="end" color="danger" size="small" name="help-circle-outline"></ion-icon></ion-label>
      <ion-label color="danger" class="ion-text-end"> +&#8377;{{cartService.cart.deliveryCharge}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> <strong>Sub Total</strong> </ion-label>
      <ion-label class="ion-text-end"> <strong>&#8377;{{cartService.cart.subTotal}}</strong> </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="card ion-margin-top" lines="full" *ngIf="itemsList.length > 0">
      <app-single-card [item]="item" *ngFor="let item of itemsList"></app-single-card>
  </ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="primary" (click)="orderConfirm()" routerDirection="root" [class.disabled]="itemsList.length === 0">
    <ion-buttons slot="start" color="light" >
      <ion-button size="large">
        <ion-label class="space-between"><ion-icon slot="start" size="large" name="cart-outline"></ion-icon> <span>Proceed to Checkout</span> </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" color="light" *ngIf="cartService.cart?.subTotal">
      <ion-button size="large">
        <ion-label class="space-between"><span> <strong>&#8377;{{cartService.cart?.subTotal}} </strong></span> <ion-icon slot="end" size="medium" name="arrow-forward-outline"></ion-icon> </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
<ion-footer class="page-footer ion-padding-horizontal ion-padding-bottom">
  <ion-row class="center-space p-0">
    <ion-col size="6">
      <ion-item lines="none">
        <ion-checkbox justify="start" labelPlacement="end" #isEditOrder>
          Edit my cart
        </ion-checkbox>
      </ion-item>
      <ion-button [disabled]="!isEditOrder.checked" strong="true" color="primary" fill="outline" size="medium" [routerLink]="['/Shoplist']">
        <ion-icon slot="start" name="cart"></ion-icon>
        Back to Shoping
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-right" size="6">
      <ion-item lines="none">
        <ion-checkbox justify="end" labelPlacement="end" [checked]="isFinalize" #isFinalize>
          Finalize my order
        </ion-checkbox>
      </ion-item>
      <ion-button size="medium" strong="true" (click)="orderConfirm()" fill="solid" color="primary" [disabled]="!isFinalize.checked">
        <ion-icon slot="end" name="card-outline" size="small"></ion-icon>
        Proceed to Checkout
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
<!-- <table>
  <tbody>
    <tr>
      <th>M.R.P </th>
      <td>&#8377;233,00</td>
    </tr>
    <tr>
      <th> Products Discount  </th>
      <td> -40</td>
    </tr>
    <tr>
      <th>
        <ion-icon color="secondary" size="small" name="cash-outline"></ion-icon> <span>Club Member Savings</span> </th>
      <td> Not a member</td>
    </tr>
    <tr>
      <th> Delivery Charges <ion-icon color="danger" size="small" name="help-circle-outline"></ion-icon></th>
      <td> +&#8377;90,00</td>
    </tr>
    <tr>
      <th> Sub Title </th>
      <th> +&#8377;433,00</th>
    </tr>
  </tbody>
</table> -->
