<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/Profile">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
<table>
  <tbody>
    <tr>
      <td>M.R.P </td>
      <td> $233,00</td>
    </tr>
    <tr>
      <td> Products Discount  </td>
      <td> -40</td>
    </tr>
    <tr>
      <td>
        <ion-icon size="small" name="cash-outline"></ion-icon> <span>Club Member Savings</span> </td>
      <td> Not a member</td>
    </tr>
    <tr>
      <td> Delivery Charges <ion-icon size="small" name="help-circle-outline"></ion-icon></td>
      <td> +$90,00</td>
    </tr>
    <tr>
      <td> Sub Title </td>
      <td> +$433,00</td>
    </tr>
  </tbody>
</table>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" routerLink="/Checkout" routerDirection="root">
    <ion-label><ion-icon size="small" name="cart-outline"></ion-icon> Proceed to Checkout</ion-label>
    <ion-label> $1200.69 <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
    </ion-label>
  </ion-button>
</ion-footer>
