<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-list class="card">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>We will send an SMS with a confirmation code to this number</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form class="ion-padding-horizontal" [formGroup]="signupFormGroup">
          <ion-list class="card input-list ion-padding-bottom">
            <ion-item>
              <ion-label position="stacked">Phone Number <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="mobileNo" maxlength="10" type="text" pattern="[0-9]*" required placeholder="Enter Phone Number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Use your referral code here</ion-label>
              <ion-input formControlName="referralCode" type="text" placeholder="Enter Code"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list class="card ion-padding-top" *ngIf="isAddressAvail">
          <ion-radio-group formControlName="deliveryAddress">
            <ion-list-header class="address-header"> Select Delivery address <ion-text color="danger">&nbsp; *</ion-text></ion-list-header>
            <ion-item *ngFor="let address of addressList">
              <ion-radio value="{{address.id}}"> {{address.name}} <ion-badge>{{address.addressOf}}</ion-badge> </ion-radio><br />
            </ion-item>
          </ion-radio-group>
        </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-button class="ion-padding" (click)="registerMe()" size="large" expand="block">NEXT</ion-button>
  </ion-list>

</ion-content>
