<ion-item (click)="gotoProduct(item.id)">
  <ion-thumbnail slot="start">
    <ion-img [src]="item.avatar" alt=""> </ion-img>
  </ion-thumbnail>
  <ion-card-content>
    <ng-container>
      <span class="discount-price"> {{item.discountedPrice}} </span> <span class="product-price"> {{item.price}} </span>
    </ng-container>
    <ion-badge color="success" slot="end" *ngIf="item.discount"> {{item.discount}}&#37; OFF </ion-badge>
    <ion-label> {{item.title}} </ion-label>
    <div class="space-between">
      <ion-note> {{item.quantity}} </ion-note>
      <div class="space-between">
        <ion-icon (click)="removeItem()" size="large" name="remove-circle-sharp" color="medium"></ion-icon>
        <ion-label class="ion-padding-horizontal">1</ion-label>
        <ion-icon (click)="addItem()" size="large" name="add-circle-sharp" color="primary"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-item>
