<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" aria-hidden="true" slot="start" name='cart-outline'></ion-icon>
        <ion-badge slot="end" class="badge-top">10</ion-badge>
      </ion-button>
    </ion-buttons>
    <ng-container>
      <ion-label>Delivery Location</ion-label> <br>
      <ion-label>Bengaluru, India <ion-icon aria-hidden="true" slot="end" name='create-outline' routerLink="/DeliveryAddress"></ion-icon>
      </ion-label>
    </ng-container>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" placeholder="Search for product"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <swiper-container [loop]="true" [pagination]="true">
    <swiper-slide routerLink="/Shoplist"> <img src="assets/images/organic.jpg" alt="organic img"> </swiper-slide>
    <swiper-slide routerLink="/Shoplist"> <img src="assets/images/organic2.jpg" alt="organic img"> </swiper-slide>
  </swiper-container>

  <ion-row class="home-offers">
    <ion-col>
      <ion-card color="danger">
        <ion-card-header>
          <ion-card-title>40% OFF</ion-card-title>
          <ion-card-title>UP TO &#8377;800</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="medium">
            <p>Minimum order &#8377;5000</p>
          </ion-text>
          <ion-button shape="round" size="small" color="light">GET OFFER</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="darkblue">
        <ion-card-header>
          <ion-card-title>10% OFF</ion-card-title>
          <ion-card-title>UP TO &#8377;500</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="medium">
            <p>Minimum order &#8377;5000</p>
          </ion-text>
          <ion-button shape="round" size="small" color="light">GET OFFER</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-grid class="essential-section">
    <ion-text color="white">
      <h5> Best of Everyday essentials </h5>
    </ion-text>
    <h6>View All</h6>
    <ion-row>
      <ion-col size="6" *ngFor="let item of itemsList; let i=index">
        <ion-card style="margin: 0px;" *ngIf="i<=3">
          <ion-item lines="none">
            <ion-badge class="badge-top" color="primary" slot="end" *ngIf="item.discount"> {{item.discount}} OFF </ion-badge>
            <ion-img [src]="item.avatar"  alt=""></ion-img>
          </ion-item>

          <ion-card-content>
            <ion-card-subtitle> {{item.title}} </ion-card-subtitle>
            <ion-label class="discount-price">{{item.discountedPrice}}
              <span class="product-price">{{item.price}}</span></ion-label>
            <div class="space-between">
              <ion-note> {{item.quantity}} </ion-note>
              <div class="space-between">
                <ion-icon size="large" name="remove-circle-sharp" color="medium"></ion-icon>
                <ion-label class="quantity ion-padding-horizontal">0</ion-label>
                <ion-icon size="large" name="add-circle-sharp" color="primary"></ion-icon>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>
  <ion-img class="ion-padding" src="assets/images/mango.jpg" alt="mango"></ion-img>
  <ion-grid>
    <ion-item color="light" lines="none">
      <ion-list-header> Best Selling</ion-list-header>
      <ion-button color="primary" routerLink="/Category"> VIEW ALL </ion-button>
    </ion-item>
    <ion-list style="background: var(--ion-color-light);">
      <ion-card *ngFor="let item of itemsList">
        <app-single-card [item]="item"></app-single-card>
      </ion-card>
    </ion-list>

  </ion-grid>
  <ion-img class="ion-padding" src="assets/images/home4.jpg"></ion-img>
</ion-content>
